{% extends "base.html" %}

{% block about %}active{% endblock about %}

{% load static %}
{% block class %}
class = "sub_page"
{% endblock class %}

{% block main %}

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src='{% static "images/about-img.png" %}' alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are Anand
              </h2>
            </div>
            <p>
              Launched in 2010, Our technology platform connects customers, 
              restaurant partners and delivery partners, serving their multiple needs. 
              Customers use our platform to search and discover restaurants, read and write customer generated reviews and view and upload photos, 
              order food delivery, book a table and make payments while dining-out at restaurants.
            </p>
            <a href="{% url 'More_About' %}">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

{% endblock main %}